body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #ffffff;
    color: white;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 24px;
    position: relative;
}

header img {
    left: 10px;
    position: absolute;
    top: 10px
}

header img:hover {
    scale: 1.1;
    transition: all .1s ease-in;
}

header li {
    display: inline-block;
    margin: 15px;
    gap: 30px;
}

header a {
    text-decoration: none;
    color: #000000;
}

header a:hover {
    color: #FF9900;
}

header button.signup {
    background-color: #FF9900;
    color: white;
    border: 1px solid #FF9900;
    border-radius: 4px;
    padding: 12px 25px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: large;
}

header button.signup:hover {
    background-color: #ff6a00;
    border-color: #ff6a00;
    scale: 1.1;
    transition: all .1s ease-in;
}

header button.signin {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    padding: 12px 25px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 160px;
    top: 0;
    font-size: large
}

header button.signin:hover {
    background-color: #FF9900;
    scale: 1.1;
    transition: all .1s ease-in;
}

section.hero {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    padding-bottom: 200px;
    position: relative;
}

section.hero img.hero {
    position: absolute;
    right: 0;
    top: 20px;
    z-index: 2;
    width: 700px;
}

section.hero img.sauntez {
    position: absolute;
    right: 100px;
    top: 40px;
    z-index: 1;
    width: 550px;
}

section.hero div.design {
    width: 50vw
}

section.hero div.design h1 {
    font-size: 72px;
    color: #000000;
    margin-top: 100px;
    margin-bottom: 20px;
    font-weight: 650;
    margin-left: 10px;
}

section.hero div.design p {
    font-size: 26px;
    color: #555555;
    margin-left: 10px;
}

section.hero div.design button {
    background-color: #FF9900;
    color: white;
    border: 1px solid #FF9900;
    border-radius: 4px;
    padding: 15px 50px;
    cursor: pointer;
    display: inline-block;
    font-size: large;
    margin-top: 30px;
    margin-left: 10px;
}

section.hero div.design button:hover {
    background-color: #ff6a00;
    border-color: #ff6a00;
    scale: 1.1;
    transition: all .1s ease-in;
}